<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>희망도서 수정하기</p>
    {% if book_info %}
        <form action="{% url 'books:modCon' %}" method="post">
            {% csrf_token %}
            희망도서명 : {{book_info.book_name}}</br>
            <input type="hidden" name="name" value="{{book_info.book_name}}"></br>
            저자 : <input type="text" name="author" value="{{book_info.book_author}}"></br>
            <input type="submit" name="modify"></br>
        </form>
    {% else %}
        <p>수정할 희망도서가 없습니다.</p>
    {% endif %}
</body>
</html>