{% extends 'base.html' %}
{% load filter %}
{% block content %}
    <div class="row">
        </br>
        </br>
        </br>
    </div>
    <div class="row">
        <div class="col col-lg-2">
        </div>
        <div class="col col-lg-8 input-group mb-3">
          <input type="text" class="form-control text-center" placeholder="도서명을 입력하세요." aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    <div class="row">
        </br>
        </br>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center">
            <h4>보유도서 리스트</h4>
        </div>
        <div class="col">
        </div>
    </div>
    <a href="{% url 'books:reg' %}">신규희망도서등록</a>
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="thead-dark">
                <th>No.</th>
                <th>도서명</th>
                <th>저자</th>
                <th>대여가능여부</th>
            </tr>
            </thead>
            <tbody>
            {% if book_list %}
            {% for s in book_list %}
            <tr>
                <td>
                    <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                    {{ book_list.paginator.count|sub:book_list.start_index|sub:forloop.counter0|add:1 }}
                </td>
<!--                <td>{{ forloop.counter }}</td>-->
                <td><a href="{% url 'books:bookDet' s.book_name %}">{{ s.book_name }}</td>
                <td>{{ s.book_author }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">도서가 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>

        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if book_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ book_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in book_list.paginator.page_range %}
                {% if page_number >= book_list.number|add:-5 and page_number <= book_list.number|add:5 %}
                    {% if page_number == book_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if book_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ book_list.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>
    </br>

<!--    {% if book_list %}-->
<!--    <ol>-->
<!--        {% for s in book_list %}-->
<!--        <li>-->
<!--            <a href="{% url 'books:bookDet' s.book_name %}">희망도서명 : {{s.book_name}}</a></br>-->
<!--            <a href="#none">저자 : {{s.book_author}}</a></br>-->
<!--            <a href="{% url 'books:bookMod' s.book_name %}">수정</a></t>-->
<!--            <a href="{% url 'books:bookDel' s.book_name %}">삭제</a></br>-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ol>-->
<!--    {% else %}-->
<!--        <p> 희망도서가 없습니다.</p>-->
<!--    {% endif %}-->

<!--    </br>-->



{% endblock %}