<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex flex-nowrap w-100">
        <a class="navbar-brand col-lg-4" href="/">
        <img src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-book-lifestyle-icongeek26-outline-gradient-icongeek26.png"  width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          &nbsp;&nbsp;Flagship 4G 도서대여 시스템
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse col-md-auto" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }}님 (로그아웃)</a>
            {% else %}
                <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
            {% endif %}
          </li>
          <li class="nav-item">
                <a class="nav-link " href="{% url 'common:signup' %}">회원가입</a>
          </li>
        </ul>
    </div>
</nav>